In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns

In [6]:
TicketSale=pd.read_csv('/content/AnnualTicketSales.csv')
TicketSale.drop(TicketSale.columns[TicketSale.columns.str.contains("Unnamed",case=False)],inplace=True,axis=1)
TicketSale.head()

   YEAR  ... AVERAGE TICKET PRICE
0  2021  ...                $9.16
1  2020  ...                $9.16
2  2019  ...                $9.16
3  2018  ...                $9.11
4  2017  ...                $8.97

[5 rows x 5 columns]

In [73]:
import pandas as pd

HighestGrossers=pd.read_csv('/content/HighestGrossers.csv')
Combined=pd.merge(TicketSale,HighestGrossers,on='YEAR')
Combined.set_index('YEAR', inplace = True)
Combined.to_csv('Combined.csv')
df=pd.read_csv('/content/Combined.csv')
af=df.dropna(how='any')
af.head()
af['MOVIES']=af['MOVIE'].astype(pd.StringDtype())

af.drop(columns='MOVIE',axis=0,inplace=True)
af['TOTAL BOX OFFICE']=af['TOTAL BOX OFFICE'].astype(pd.StringDtype())

af.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 3 to 26
Data columns (total 12 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   YEAR                                 24 non-null     int64
 1   TICKETS SOLD_x                       24 non-null     object
 2   TOTAL BOX OFFICE                     24 non-null     string
 3   TOTAL INFLATION ADJUSTED BOX OFFICE  24 non-null     object
 4   AVERAGE TICKET PRICE                 24 non-null     object
 5   GENRE                                24 non-null     object
 6   MPAA RATING                          24 non-null     object
 7   DISTRIBUTOR                          24 non-null     object
 8   TOTAL FOR YEAR                       24 non-null     object
 9   TOTAL IN 2019 DOLLARS                24 non-null     object
 10  TICKETS SOLD_y                       24 non-null     object
 11  MOVIES                               24 non-null     string
dtypes: int64(1), object(9), string(2)
memory usage: 2.4+ KB

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy